<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../myScripts/DepartmentAdminScripts/mapSubjectsToUSN.js"></script>
</head>
<body>
    <div style="margin:20px;padding:10px;border-color: cadetblue;border-style: solid;height:auto;border-width: 5px;border-radius: 5px;">
        <h3 style="color:red;margin:10px">Assign Subjects to USNs</h3>
        <select id="scheme" class="form-select m-2 w-25">
            <option selected>Scheme</option>
            <option>2018</option>
            <option>2020</option>
            <option>2021</option>
        </select>
        <select id="sem" class="form-select m-2 w-25">
            <option selected>Semester</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
        <select id="acadyear" class="form-select m-2 w-25">
            <option selected>Acad Year</option>
            <option>2020-21</option>
            <option>2021-22</option>
            <option>2022-23</option>
            <option>2023-24</option>
            <option>2024-25</option>
            <option>2025-26</option>
            <option>2026-27</option>
            <option>2027-28</option>
        </select>
        <select id="dname" class="form-select m-2 w-25">
            <option selected>Department</option>
            <option>CSE</option>
            <option>ECE</option>
            <option>EEE</option>
            <option>CIVIL</option>
            <option>MECH</option>
            <option>AIDS</option>
            <option>CSBS</option>
        </select>
        <select id="subjects" class="form-select m-2 w-25">
            <option selected>Subjects</option>
            
        </select>
        <button id="transfer" class="btn btn-primary m-2">MAP Subjects</button>
        <div style="display:flex;flex-direction: row;">    
        <div style="width:40%">
        <h3 style="color:cornflowerblue;margin:10px">Mapped Subjects to USNs</h3>
        
        </div>
    
        </div>
</body>
</html>