<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../myStyles/beautify.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script> 
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    
    <script src="../myScripts/upload.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-pub">
      <input id="ptitle" type="text" placeholder="Title of Conference/Workshop" class="form-control w-75 m-2"></input>
      <input id="orginst" type="text" placeholder="Organizing Institute" class="form-control w-75 m-2"></input>
      <input id="city" type="text" placeholder="City" class="form-control w-75 m-2"></input>
      <input id="wcdate" type="date" placeholder="Date" class="form-control w-50 m-2"></input>
      <input id="days" type="text" placeholder="Days" class="form-control w-50 m-2"></input>   
      <select id="acadyear" class="form-control w-25 m-2">
        <option selected>Acad-Year</option>
        <option>2017-18</option>
        <option>2018-19</option>
        <option>2019-20</option>
        <option>2020-21</option>
        <option>2021-22</option>
        <option>2022-23</option>
        <option>2023-24</option>
      </select>
      <div style="display:flex">
      <button id="addcorw" class="btn btn-primary m-2 w-25">Add</button>
      <button id="backx" style='width:120px;margin-left:50px' class="btn btn-dark m-2 w-25">Back</button>
      </div>
    </div>
</body>
</html>