<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../myStyles/beautify.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../myScripts/allotSubjects.js"></script>
    <script src="../myScripts/initializer.js"></script>
    <title>Document</title>
</head>
<body>
    <h4 style="color:blueviolet;margin-left:30px;margin-top:10px">Admin Control Panel</h4>
    <div class="wed-container">
    <!--select style="height:40px" id="fac"   class="list-group w-25 m-2">
    </select>
    <select id="SEM" style="height:40px;width:80px"   class="list-group m-2">
        <option>3</option>
        <option>5</option>
        <option>7</option>
    </select>
    <select id="div1" style="height:40px;width:80px"   class="list-group m-2">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <select id="sub" style="height:40px;width:400px" class="list-group m-2">
        <option class="list-group-item">DBMS</option>
        <option class="list-group-item">OS</option>
    </select>
    <button id="assign" style="height:60px;width:200px;padding:3px" class="btn btn-dark m-2">Assign and Confirm</button-->
    
    <select id="acadyear" class="form-select w-25 m-2" style="height:40px">
        <option selected>Select Academic Year</option>
        <option>2021-22</option>
        <option>2022-23</option>
        <option>2023-24</option>
        <option>2024-25</option>
        <option>2025-26</option>
        <option>2027-28</option>
    </select>
    <button id="initLeave" style="height:40px;width:200px" class="btn btn-danger m-2">Initialize Leave</button>
    <a href="../Components/Student.html"><button class="btn btn-success m-2">Update Student</button>
        <button id="logout" style="height:40px;width:200px" class="btn btn-dark m-2">Logout</button>    
    </div>
 
</body>
</html>