<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>    
    <script src="../node_modules/jquery.session/jquery.session.js"></script>
    <script src="../myScripts/markAttendance.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../myStyles/beautify.css">
    <!--link rel="stylesheet" href="../myStyles/css.css"-->    
    <script src="../node_modules/EasyPagination/Easy-Table-List-Pagination-Plugin-With-jQuery-Paginathing/dist/paginathing.min.js"></script>
    <script src="../myScripts/paginathing.min.js.map"></script>
   
    <title>Document</title>
</head>
<body>
    <div class="wed-container">
    <div>
    <div style="display:inline-block;width:1200px;height:60px">       
    <h4 style="display:inline-block;background-color:deeppink;padding-left:20px;border-radius:0.25rem;color:white;margin-left:20px;width:700px;height:50px;padding-top:0px"><i style="margin-right:20px;color:yellow;" class="bi bi-person-square"></i>
        Welcome Professor :<span style="padding-left:50px;display:inline-block;background-color:aqua;border-radius:0.25rem;margin-top:5px;width:340px; margin-left:20px;
        color:blue;font-family: Helvetica;font-size: 18px;
        height:30px;padding-top:5px" id="uname"></span></h4><a href="../Components/FacultySubjectInfo.html">
        <button id="suball" style="margin-left:10px;" class="btn btn-primary">Sub-Allot</button></a>
        <a href="../Components/LeaveApp.html"><button style="margin-left:10px;" class="btn btn-success">Apply Leave</button></a>
        <a href="../Components/Mentoring.html"><button style="margin-left:10px;" class="btn btn-light">Mentoring</button></a>

        </div>
    <div style="display:flex;width:1100px">
        <select  id="acadyear" style="color:red;font-weight:bold"  id="direction" class="form-select mx-3 w-25" aria-label="Default select example">   
            <option selected>Academic Year</option>
            <option>2020-21</option>
            <option>2021-22</option>
            <option>2022-23</option>
        </select>
    <select id="subjects" style="color:red;font-weight:bold" class="form-select mx-4 w-50" aria-label="Default select example">   
    <option selected>Select Subject</option>
    </select>
    <span style='margin-top:5px;
    font-weight: bold;border-radius:0.25rem;width:120px;
    padding-left:10px;padding-top:3px;
    height:30px;background-color:yellow;color:red;'>CSE</span>
    
    <img src="../sgbitlogo.jfif" style="margin-left:80px;border-radius:4rem" width="40px" hieght="30px" alt="logo"> 
    <a href="./FacultyDocUpload.html"><button  style='width:120px;margin-left:50px' class="btn btn-dark">Fac-Docs</button></a>
    <a href="../index.html"><button  style='width:120px;margin-left:50px' class="btn btn-dark">Logout</button></a>
</div>

<ul id="allStudentsx" style="color:brown" class="list-group" style="list-style:none;">
    <li id="head" style='background-color:yellow;width:1200px;height:45px;color:blue' class='list-group-item 
        mt-2 mx-4'>
        <span  style='display:inline-block;width:110px'>USN
        </span><span style='display:inline-block;width:95px;margin-left:30px;'>Attendance</span>
        <span style='display:inline-block;margin-left:25px;width:85px'>M1</span>
        <span style='display:inline-block;margin-left:5px;width:75px'>M2</span>
        <span style='display:inline-block;margin-left:5px;width:75px'>M3</span>
        <span style='display:inline-block;margin-left:5px;width:75px'>AVG</span>
        <span style='display:inline-block;margin-left:5px;width:60px'>ASS-I</span>
        <span style='display:inline-block;margin-left:25px;width:70px'>CIE/40</span>
        <span style='margin-left:25px;width:50px'>SEE</span>
        <span style='margin-left:35px;width:90px'>GTotal</span>
        <span style='margin-left:45px;width:70px'>Class</span>
        <span style='margin-left:25px;width:90px'>UpdateStatus</span>
    </li>
    </ul>
<ul id="allStudents" style="color:brown" class="list-group" style="list-style:none;">    
</ul>
</div>
</div>
</body>
</html>