<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    <script src="../myScripts/mentees.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;flex-direction: row;">
    <div id="facwelcome" style="margin:20px">

    </div>
    <button id="backHome1" class="btn btn-dark" style="width:100px;margin:20px">Back</button>
    </div>
    <div style="display:flex;flex-direction: column;">
   <ul id="allStudentsx1" style="color:brown;list-style: none;" class="list-group" style="list-style:none;">
    <li id="head" style='background-color:yellow;width:1200px;height:35px;padding:5px;padding-left:20px;border-radius:0.5rem;color:blue' class='list-group-item 
        mt-2 mx-4'>
        <span  style='display:inline-block;width:80px'>USN
        </span><span style='display:inline-block;width:95px;margin-left:50px;'>Name</span>
        <span style='display:inline-block;margin-left:100px;width:30px'>SEM</span>
        <span style='display:inline-block;margin-left:40px;width:150px'>Date</span>
        <span style='display:inline-block;margin-left:40px;width:150px'>Discussion</span>
        <span style='display:inline-block;margin-left:10px;width:80px'>Delegate</span>
        <span style='display:inline-block;margin-left:50px;width:150px'>Action</span>
    </li>
    </ul>
    <!--button id="saveD" style="width:150px" class="btn btn-primary mx-4 mt-1">Save Discussion</button-->
    </div>
<ul id="menteesList" style="color:brown" class="list-group" style="list-style:none;">    
</ul>


    
</body>
</html>