<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    <script src="../myScripts/displayMentee.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h4 id="welcome" style="height:50px;padding:10px;display:flex;justify-content:center;border-radius:0.5rem;background-color:yellow;color:red;margin-top:40px;margin-left:20px;width:1250px"></h4>
    <ul id="mentoringDetailsX" class="list-group" style="list-style: none;">
    

    </ul>
    <a href="../Components/Mentoring.html"><button class="btn btn-dark m-4">Back</button></a>
</body>
</html>