<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/jquery.session/jquery.session.js"></script>
    <script src="../../myScripts/AdminScripts/firstYearAdmin.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SGBIT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container-fluid box m-2 p-2">
            <h3 class="text-center">First Year Admission Form - <span style="margin-left:10px" id='acadyear'>0</span></h3>
            <hr>
            <div class="cont-1 box_in p-3">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">BRANCH</label>
                    <select id="branch" class="form-select m-2">
                        <option selected>Select Branch</option>
                        <option>CSE</option>
                        <option>ECE</option>
                        <option>EEE</option>
                        <option>MECH</option>
                        <option>CVL</option>
                        <option>AIDS</option>
                        <option>CBS</option>
                    </select>
                </div>
                <h4 class="text-start text-danger"> Personal Information<span style="margin-left:10px" id='inst_id'></span></h4>
                <hr>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname">
                    </div>
                    <div class="col-md-6">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname">
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="form-label">Gender</label>
                        <input type="radio" class="form-check-input mx-3" name="gender" id="male" checked>
                        <label for="fname" class="form-label">Male</label>
                        <input type="radio" class="form-check-input mx-3" name="gender" id="female">
                        <label for="fname" class="form-label">Female</label>
                    </div>
                    <div class="col-md-5">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control w-50" id="email">
                    </div>
                    <div class="col-md-4">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control w-50" id="phone">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label" >City : </label>
                        <input type="text" class="form-control" pattern=[0-9] id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Select State</option>
                            <option>Karnataka</option>
                            <option>Maharastra</option>
                            <option>Tamilnadu</option>
                            <option>Kerala</option>
                            <option>Telangana</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button" id="submitPersonalInfo"  class="btn btn-primary">Submit</button><p id="confirmation" style="color:green;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif;margin:20px"></p>
                    </div>   
                          
                    <hr>
                    <h4 class="text-start text-danger">Educational Details</h4>
                    <hr>
                    <h3 class="text-center text-warning "> SSLC Details</h3>
                    <hr>
                    <div class="col-md-6">
                        <label for="sslcreg" class="form-label">SSLC Register Number </label>
                        <input type="text" class="form-control" id="regNum">
                    </div>
                    <div class="col-md-6">
                        <label for="sslcpercentage" class="form-label">SSLC Percentage</label>
                        <input type="number" class="form-control" id="sslcScore">
                    </div>
                    <div class="col-md-6">
                        <label for="school" class="form-label">School Name</label>
                        <input type="text" class="form-control" id="schoolName">
                    </div>
                    <div class="col-md-4">
                        <label for="schoolstate" class="form-label">State</label>
                        <select id="state" class="form-select">
                            <option selected>Choose...</option>
                            <option>Karnataka</option>
                            <option>Maharastra</option>
                            <option>Tamilnadu</option>
                            <option>Kerala</option>
                            <option>Telangana</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="school" class="form-label">Passing Year</label>
                        <input type="datetime" class="form-control" id="passingyear">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">10 <sup>th </sup> Marks-Card</label>
                        <input type="file" class="form-control" id="imageUrl">
                    </div>                                 
                        <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button" id="submitAcademicInfo"  class="btn btn-primary">Submit</button>
                        <p style="color:green;font-size: 30px;margin-left:50px" id="status1" >Saved..</p>
                    </div>

                    <hr>
                    <h3 class="text-center text-warning " > PUC Details</h3>
                    <hr>
                    <div class="col-md-6">
                        <label for="pucreg" class="form-label">PUC Register Number </label>
                        <input type="text" class="form-control" id="pucregNum">
                    </div>
                    <div class="col-md-6">
                        <label for="pucpercentage" class="form-label">PUC Percentage</label>
                        <input type="number" class="form-control" id="pucScore">
                    </div>
                    <div class="col-md-6">
                        <label for="College" class="form-label">College Name</label>
                        <input type="text" class="form-control" id="collegeName">
                    </div>
                    <div class="col-md-4">
                        <label for="schoolstate" class="form-label">State</label>
                        <select id="collegeState" class="form-select">
                            <option selected>Choose...</option>
                            <option>Karnataka</option>
                            <option>Maharastra</option>
                            <option>Tamilnadu</option>
                            <option>Kerala</option>
                            <option>Telangana</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="school" class="form-label">Passing Year</label>
                        <input type="datetime" class="form-control" id="passingYear">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">12 <sup>th </sup> Marks-Card</label>
                        <input type="file" class="form-control" id="imageUrl">
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                accept all terms and conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="button" id="submitPUCInfo"  class="btn btn-primary">Submit</button>
                        <p style="color:green;font-size: 30px;margin-left:50px" id="status2" >Saved..</p>              
                    </div>

                </form>
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>